a {
	
	text-decoration: none;
	
}

body {

	margin: 0;
	
}

/* Client Interface*/
.CalendarContainer {
	
	position: absolute;
	top: 88px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	
}

.Calendar {
	
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	
}

.CalendarHeader {

	width: 100%;
	height: 64px;
	margin: 0 auto;
	background: #a7dbd8;
    background: -webkit-linear-gradient(#a7dbd8, #ffffff);
    background: -o-linear-gradient(#a7dbd8, #ffffff);
    background: -moz-linear-gradient(#a7dbd8, #ffffff);
    background: linear-gradient(#a7dbd8, #ffffff);
	
}

.CalendarRow {
	
	display: table-row;
	
}

.CalendarCell {
	
	display: table-cell;
	background: #ffffff;
	border: solid 1px;
	border-color: #69d2e7;
	height: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
}

.DayNumber {
	
	font-weight: bold;
	
}

.CalendarTitleTable {
	
	width: 100%;
	height: 24px;
	display: table;
	
}

.CalendarTitleRow {
	
	display: table-row;
	
	
}

.CalendarTitleCell {
	
	width: 14%;
	display: table-cell;
	text-align: center;
	font-weight: bold;
	color: #000000;
	line-height: 24px;
	background: #69d2e7;
    background: -webkit-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: -o-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: -moz-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
	
}

.SaturdayCell, .SundayCell {
	
	/*background: #dddddd;*/
	
}

.CalendarTitle {
	
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	
}

.CalendarName {
	
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	
}

.CalendarButton {
	
	width: 50px;
	height: 25px;
	line-height: 25px;
	float: left;
	font-weight: bold;
	text-align: center;
	border: solid 1px;
	border-color: #046d8b;
	background: #2fb8ac;
	color: #000000;
	font-size: 24px;
	cursor: pointer;
	
}

.CalendarButton:hover {
	
	border-color: #046d8b;
	background: #309292;
	color: #000000;
	
}

.EmptyCell {
	
	background: #dddddd;
	
}

.CalendarTitlePanel {
	
	width: 25%;
	margin: 0 auto;
	text-align: center;
	
}

.EventTitle {
	
	height: 64px;
	line-height: 64px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	
}

.EventTimeTitle {
	
	width: 100%;
	text-align: center;
	
}

.PopupHeader {
	
	width: 100%;
	background: #a7dbd8;
    background: -webkit-linear-gradient(#a7dbd8, #ffffff);
    background: -o-linear-gradient(#a7dbd8, #ffffff);
    background: -moz-linear-gradient(#a7dbd8, #ffffff);
    background: linear-gradient(#a7dbd8, #ffffff);
	
}

.PopupTitleBar {
	
	width: 100%;
	height: 32px;
	background: #69d2e7;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	background: #69d2e7;
    background: -webkit-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: -o-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: -moz-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
	
}

.PopupEventTitle {

	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	
}

.PopupTitle {
	
	width: 100%;
	text-align: center;
	
}

.Popup {
	
	width: 200px;
	height: 200px;
	position: absolute;
	background: #ffffff;
    border: solid 1px;
    border-color: #69d2e7;
	
}

.CalendarEvent {
	
	cursor: pointer;
	
}

.CalendarEvent .Popup {
	
	display: none;
  
}

.CalendarEvent:hover .Popup {
	
	display: block;
  
}

.ListContainer {
	
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	
}

.ListTitle {
	
	width: 100%;
	background: #a7dbd8;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;	
	
}

.ListEvent {
	
	width: 100%;
	background: #a7dbd8;
    background: -webkit-linear-gradient(#a7dbd8, #ffffff);
    background: -o-linear-gradient(#a7dbd8, #ffffff);
    background: -moz-linear-gradient(#a7dbd8, #ffffff);
    background: linear-gradient(#a7dbd8, #ffffff);
    border: solid 1px #69d2e7;
	padding-left: 1%;
	
}

.ListEventName {
	
	font-size: 105%;
	font-weight: bold;
	
}

.ListEventDate {
	
	font-style: italic;
	
}

.ListEventTime {
	
	
	
}

.ListEventEven {
	
	
	
}

.ListEventOdd {
	
	
	
}

#previousButton {
	
	position: absolute;
	width: 32px;
	height: 32px;
	top: 16px;
	left: 16px;
	
}

#nextButton {
	
	position: absolute;
	width: 32px;
	height: 32px;
	top: 16px;
	right: 16px;
	
}

/* Admin Interface */
.Header {
	
	width: 100%;
	height: 96px;
	background: #a7dbd8;
    background: -webkit-linear-gradient(#a7dbd8, #ffffff);
    background: -o-linear-gradient(#a7dbd8, #ffffff);
    background: -moz-linear-gradient(#a7dbd8, #ffffff);
    background: linear-gradient(#a7dbd8, #ffffff);
	
}

.TitleBar {
	
	width: 100%;
	height: 32px;
	background: #69d2e7;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	background: #69d2e7;
    background: -webkit-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: -o-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: -moz-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
	
}

.Button {

	border: solid 1px;
	border-color: #046d8b;
	background: #2fb8ac;
	color: #000000;
	font-size: 24px;
	text-align:center;
	cursor: pointer;
	
}

.ButtonSelected {
	
	border: solid 1px;
	border-color: #309292;
	background: #046d8b;
	color: #000000;
	font-size: 24px;
	text-align:center;
	cursor: pointer;
	
}

.Button:hover {
	
	border-color: #046d8b;
	background: #309292;
	color: #000000;
	
}

.SettingsTitle {
	
	width: 100%;
	text-align: center;
	
}

.SettingsForm {
	
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
		
}

.ListViewTitle {
	
	width: 20%;
	text-align: center;
	float: left;
	
}

.EventPanelTitle {
	
	width: 78%;
	text-align: center;
	float: right;
	
}

.Logo {
	
	width: 20%;
	height: 64px;
	font-weight: bold;
	font-size: 32px;
	line-height: 64px;
	text-align: center;
	background: url("../../logo/logo_64x64.png") no-repeat center;
	
}

.ListView {
	
	height: 100%;
	overflow: auto;
	width: 20%;
	border-right: solid 2px;
	border-color: #69d2e7;
	float: left;
		
}

.ListViewButton {
	
	width: 100%;
	height: 64px;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #a7dbd8;
	line-height: 64px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	
}

.ListViewButton:hover {
	
	border-color: #ffffff;
	background: #dddddd;
	
}

.EventPanel {
	
	height: 100%;
	overflow: auto;
	width: 79%;
	float: right;

}

.Container {

	position: absolute;
	top: 96px;
	left: 0px;
	right: 0px;
	bottom: 32px;
	overflow: hidden;
	background: #e0e4cc;
    background: -webkit-linear-gradient(#a7dbd8, #ffffff);
    background: -o-linear-gradient(#a7dbd8, #ffffff);
    background: -moz-linear-gradient(#a7dbd8, #ffffff);
    background: linear-gradient(#a7dbd8, #ffffff);
	
}

.StatusBar {
	
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 32px;
	background: #69d2e7;
    background: -webkit-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: -o-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: -moz-linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
    background: linear-gradient(#69d2e7, #a7dbd8, #69d2e7);
	
}

.StatusLabel {
	
	float: right;
	margin-right: 1%;
	color: #000000;
	line-height: 32px;
	font-style: italic;
	text-align: right;
	font-weight: bold;
	
}

.VersionLabel {
	
	float: left;
	margin-left: 1%;
	color: #000000;
	line-height: 32px;
	font-style: italic;
	text-align: right;
	font-weight: bold;
	
}

.Tab {
	
	margin-left: 40px;
	
}

.ui-timepicker-wrapper {
	
	top: 220px !important;
	
}

#idField {
	
	background: #dddddd;
	
}

#htmlField {
	
	width: 99%;
	height: 55%;
	
}

#settingsButton {

	position: absolute;
	top: 16px;
	right: 16px;
	padding: 2px;
	
}

#newButton {

	position: absolute;
	top: 16px;
	right: 53px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	
}

#saveButton {
	
	float: right;
	margin-right: 1%;
	margin-top: 1%;
	
}

#deleteButton {
	
	position: absolute;
	top: 16px;
	right: 16px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	
}